<br><br>
  <!-- Footer -->
  <footer class="text-white py-4 mt-auto">
  <% team = ["Les Loueurs de l’Impossible",
           "The fourth wall breakers",
           "Casting Chaos",
           "Pixel Wizards",
           "Who You gonna call ?",
           "Rent a Char",
           "Chara Codex",
           "Debbuged Reality",
           "Dimensions Drifters",
           "Villains R Us"
           ] %>
    <div class="container text-center">
      <span> © 2025 <%= team.sample %> – All right reserved ... and yes it's legal</span>
    </div>
  </footer>
