/* CSS pour le carousel */

.carousel-item img {
  height: 600px;
  object-fit: cover;
}

/* CSS pour les headline */

.headline {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  line-height: 1.5;
}

.brand-name {
  color: #7A1CFF;
  font-weight: 900;
  text-transform: uppercase;
}

.subheadline {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  font-style: italic;
  opacity: 0.8;
}

/* CSS pour les lames */

.full-width-section {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.purple-bg {
  background-color: #7A1CFF;
  color: white;
}
.white-bg {
  background-color: white;
  color: #7A1CFF;
}
.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.section-text {
  font-size: 1.8rem;
  font-weight: bold;
}
.section-image {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}
