.row-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem auto 0;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-characters {
  transition: transform 0.3s ease-in-out;
  width: 350px;
  height: 450px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 3px 2px 12px -5px #7a1cffb3;
  position: relative;
}

.card-characters:hover {
  transform: scale(1.1);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card-characters:hover::after {
  content: '';
  position: absolute;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  background-image: conic-gradient(from var(--angle), transparent 70%, #7a1cffb3);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: inherit;
  animation: 3s spin linear infinite;
  pointer-events: none;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.card-img-top img {
  border-radius: 25px 25px 0px 0px;
}

.card-body {
  padding: 15px;
  position: relative;
  background-color: white;
  height: 200px;
  border-radius: 0px 0px 25px 25px
}

.card-title {
  text-align: center;
  color: rgba(122, 28, 255, 0.7);
  font-weight: 1000;
  font-size: 24px;
  background-color: white;
}

.card-text {
  color: black;
  margin-top: 12px;
  text-align: justify;
  background-color: white;
}

.card-price {
  color:rgba(68, 0, 165, 0.50);
  font-size: 22px;
  font-weight: 900;
  background-color: white;
  margin-bottom: 0;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.filter-container {
  position:sticky;
  top: 140px;
  left: 0;
  width: 250px;
  height: 100%;
  margin-left: -260px;
  z-index: 10;
}

#card-search {
  border-radius: 5px;
  box-shadow: 3px 2px 12px -5px #7a1cffb3;
}
